In [1]:
print("hello")

hello

docu...
 sample

# Python
## Python
### py
#### py

In [2]:
7+8

15

In [3]:
2==2

True

In [4]:
2!=1

True

In [5]:
2!=2

False

In [6]:
2>1

True

In [7]:
2<1

False

In [8]:
2>=1

True

In [9]:
2<=1

False

In [10]:
if True:
    print('It was true!')

It was true!

In [11]:
x = True
    
if x:
    print('x is True!')
else:
    print('I will be printed in any where x is not true')

x is True!

In [12]:
loc = 'Mane'

if loc == 'Auto shop':
    print('Welcome to Autoshop')
elif loc == 'Bank':
    print('Welcome to the Bank')
else:
    print('Where are youi?')

Where are youi?

In [13]:
x = 'Nandini'

if x == 'Jaany':
    print('She is a good girl')
else:
    print('Kachada')

Kachada

In [14]:
list1= [1,2,3,4,5,6,7,8]

for num in list1:
    print(num)

1
2
3
4
5
6
7
8

In [15]:
for num in range(5):
     for i in range(num):
            print('*',end=" ")
     print("\n")

*

* *

* * *

* * * *

In [16]:
for num in list1:
     if num % 2 == 0:
            print(num)

2
4
6
8

In [17]:
# start sum at zero
list_sum = 0

for num in list1:
    list_sum += num
    
print(list_sum)

36

In [18]:
x = 0

while x<10:
    print('x is currently: ',x)
    print(' x is still less than 10,adding 1 to x')
    x+=1

x is currently:  0
 x is still less than 10,adding 1 to x
x is currently:  1
 x is still less than 10,adding 1 to x
x is currently:  2
 x is still less than 10,adding 1 to x
x is currently:  3
 x is still less than 10,adding 1 to x
x is currently:  4
 x is still less than 10,adding 1 to x
x is currently:  5
 x is still less than 10,adding 1 to x
x is currently:  6
 x is still less than 10,adding 1 to x
x is currently:  7
 x is still less than 10,adding 1 to x
x is currently:  8
 x is still less than 10,adding 1 to x
x is currently:  9
 x is still less than 10,adding 1 to x

In [19]:
x = 0
while x<10:
    print('x is currently: ',x)
    print(' x is still less than 10,adding 1 to x')
    x+=1
    if x==3:
        print('x=3')
    else:
        print('continuing...')
        continue

x is currently:  0
 x is still less than 10,adding 1 to x
continuing...
x is currently:  1
 x is still less than 10,adding 1 to x
continuing...
x is currently:  2
 x is still less than 10,adding 1 to x
x=3
x is currently:  3
 x is still less than 10,adding 1 to x
continuing...
x is currently:  4
 x is still less than 10,adding 1 to x
continuing...
x is currently:  5
 x is still less than 10,adding 1 to x
continuing...
x is currently:  6
 x is still less than 10,adding 1 to x
continuing...
x is currently:  7
 x is still less than 10,adding 1 to x
continuing...
x is currently:  8
 x is still less than 10,adding 1 to x
continuing...
x is currently:  9
 x is still less than 10,adding 1 to x
continuing...

In [20]:
x=0

while x<10:
    print('x is currently: ',x)
    print('  x is still less than 10, adding 1 to x')
    x+=1
    if x==3:
        print('Breaking because x=3')
        break
    else:
        
        print('continuing...')
        continue

x is currently:  0
  x is still less than 10, adding 1 to x
continuing...
x is currently:  1
  x is still less than 10, adding 1 to x
continuing...
x is currently:  2
  x is still less than 10, adding 1 to x
Breaking because x=3

In [21]:
range(0,11)

range(0, 11)

In [22]:
list(range(0,11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
list(range(0,12))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [24]:
list(range(0,21,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [25]:
list(range(0,121,12))

[0, 12, 24, 36, 48, 60, 72, 84, 96, 108, 120]

In [26]:
'x' in ['x','y','z']

True

In [27]:
mylist= [10,20,30,40,100]
min(mylist)

10

In [28]:
max(mylist)

100

In [29]:
mylist

[10, 20, 30, 40, 100]

In [30]:
from random import shuffle
shuffle(mylist)
mylist

[20, 10, 30, 40, 100]

In [31]:
name = input('Enter Name : ')
print(name)

Enter Name : Nandu
Nandu

# Addition of 2 Number

In [32]:
num1 = int(input('Enter num1 '))
num2 = int(input('Enter num2 '))
sum = int(num1)+num2

print('Sum = ',sum)

Enter num1 1
Enter num2 2
Sum =  3

# Factorial of a number

In [33]:
num = int(input('Enter a number :  '))
fact=1
for i in range(1,num+1):
    fact=fact*i
print(fact)

Enter a number :  23
25852016738884976640000

# Even Odd

In [34]:
a = int(input('Enter a number :  '))
if a%2==0:
    print('Even Number')
else:
    print('Odd Number')

Enter a number :  1
Odd Number

In [35]:
b = int(input('Enter a number'))
if b>0:
    print('Positive number')
elif  b<0:
    print('Negative number')
else:
    print('zero')

Enter a number2
Positive number

In [36]:
a=int(input('enter the no.1 '))
b=int(input('Enter the no.2 '))
c=int(input('Enter the no.3 '))
print(max(a,b,c))

enter the no.1 1
Enter the no.2 2
Enter the no.3 3
3

In [37]:
lst = [1,2,3,4,5]

In [38]:
lst.append(7)

In [39]:
lst

[1, 2, 3, 4, 5, 7]

In [40]:
lst.count(2)

1

In [41]:
def say_hello():
    print('hello')
    print('bye')

In [42]:
say_hello()

hello
bye

In [43]:
def add_num(num1,num2):
    return num1+num2

In [44]:
add_num(4,5)

9

In [45]:
result=add_num(4,5)

In [46]:
print(result)

9

In [47]:
a=int(input('Enter a num1: '))
b=int(input('Enter a num2: '))
add_num(a,b)

Enter a num1: 1
Enter a num2: 2

3

In [63]:
def is_prime(num):
    '''
    Native method of checking for primes.
    '''
    for n in range(2,num):
        if num % n == 0:
            print(num,'is not a prime')
            break
    else:
            print(num,'is prime')

In [64]:
is_prime(7)

7 is prime